# **Summer Task - 1** 
**Date - May 19, 2024**

__Task - 1:__

    Create a program in python 
        Create inquiry form to take input 
            - Name
            - Contact no
            - Mail id
            - Query

In [1]:
# Inquiry form

name = input("Enter your name: ")
contact = input("Enter your contact number: ")
mail = input("Enter your E-mail address: ")
query = input("Enter your query: ")

print("Your name is: ", name,
    "\n", 
    "Your Contact number is: ", contact,
    "\n",
    "Your email address is: ", mail,
    "\n",
    "Your query is: ", query)

Your name is:  Aakash Chauhan
 Your Contact number is:  1234567890
 Your email address is:  aakashchauhan@gmail.com
 Your query is:  Nothing, Just chill

__Task - 2:__
    
    Connect to 5 people nearby, ask their personal 
    details like
        - Name
        - City
        - College name
        - Email id
        - Insta profile

    and store the entire info in data structure "dictionary" 
    with variable name of "dictionary" is "lwdb"
    and then convert same dictionary into pandas data frame with 
    variable name of "lwdbfinal"

In [6]:
import pandas as pd

lwdb = {
    'Name' : ['Aakash', 'Sun', 'Moon', 'Earth', 'Mars'],
    'City' : ['Jaipur', 'Ajmer', 'Jaipur', 'Delhi', 'Jaipur'],
    'College_Name' : ['Poornima University', 'Manipal University', 'JECRC University', 'IIT Delhi', 'Poornima University'],
    'Email' : ['aakash@gmail.com', 'sun@gmail.com', 'moon@gmail.com', 'earth@gmail.com', 'mars@gmail.com'],
    'Insta_Profile' : ['aakash_07', 'sun_@star', 'moon_@satellite', 'earth_@planet', 'mars_@planet'] 
}

print(type(lwdb))

lwdbfinal = pd.DataFrame(lwdb)
lwdbfinal

<class 'dict'>

     Name    City         College_Name             Email    Insta_Profile
0  Aakash  Jaipur  Poornima University  aakash@gmail.com        aakash_07
1     Sun   Ajmer   Manipal University     sun@gmail.com        sun_@star
2    Moon  Jaipur     JECRC University    moon@gmail.com  moon_@satellite
3   Earth   Delhi            IIT Delhi   earth@gmail.com    earth_@planet
4    Mars  Jaipur  Poornima University    mars@gmail.com     mars_@planet

__Task - 3:__
    
    Print only all "name" and "email" from variable "lwdbfinal" in one statement
    Print insta profile and name  of only record number 2 to 4 only

In [9]:
lwdbfinal[['Name', 'Email']]

     Name             Email
0  Aakash  aakash@gmail.com
1     Sun     sun@gmail.com
2    Moon    moon@gmail.com
3   Earth   earth@gmail.com
4    Mars    mars@gmail.com

In [15]:
# Printing Name and Insta Profiles of only record number 2 to 4
# here indexing starts from 0 so we extract 1 till 4 index (Which excludes 4th index).
# So, it prints desired records
 
lwdbfinal.iloc[1:4, [0, 4]]

    Name    Insta_Profile
1    Sun        sun_@star
2   Moon  moon_@satellite
3  Earth    earth_@planet

__Task - 4:__

    Create python program --> menu.py so that
    When anyone run
    We present with 4 options, like
    Press 1: to start notepad
    Press 2: to start chrome or firefox
    Press 3: to start vlc player or any other player
    Press 4: if ask input which url to open in browser, and when we give url, it open that website in browser

**Menu.py is stored in the same directory where this notebook is stored.**

__Task - 5:__

    In task - 2, you got some data, now you have create program, that help you to search entire information about particular person by asking their name means “Search by Name”

In [30]:
# Case where Record exist

name = input("Enter the Name of the person whose details you want: ")
lwdbfinal[lwdbfinal['Name'] == name]

     Name    City         College_Name             Email Insta_Profile
0  Aakash  Jaipur  Poornima University  aakash@gmail.com     aakash_07

In [31]:
# Case where Record doesn't exist

name = input("Enter the Name of the person whose details you want: ")
lwdbfinal[lwdbfinal['Name'] == name]

Empty DataFrame
Columns: [Name, City, College_Name, Email, Insta_Profile]
Index: []